/* .topSection {
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

#rydr-brand {
    position: fixed;
    left: 50%;

    opacity: 0;
    font-size: 100px;
    color: #c30000 !important;
    z-index: 1000;
    transition: opacity 1s ease-in-out, transform 3s ease-in-out;
    height: 50vh;
    font-size: 150px;
    font-weight: 700;
    text-align: left;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;

}

.slogan {
    position: fixed;
    top: 100vh;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: black;
    opacity: 0;
    transition: top 1s ease-in-out, opacity 1s ease-in-out;

    font-size: 37px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: -0.02em;
    text-align: center;

}


.nextSection {
    display: none;
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.nextSection {}

.showNextSection {
    display: flex !important;
    opacity: 1;
    top: 10%;
    transform: translateY(-100vh);
}



@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(1);
    }
}

@keyframes fadeInZoomIn {
    from {
        opacity: 0;
        transform: translate(50%, 50%) scale(10);

    }

    to {
        opacity: 1;
        transform: translate(-50%, -190%) scale(1);

    }
}



@keyframes fadeOutZoomOut {
    from {
        opacity: 1;

        transform: translate(-50%, -190%) scale(1);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);
    }
}


.over {
    background-color: white;
}

.home-section {
    position: relative;
    overflow: hidden;
}
 */
