@media (max-width: 575px) {


    .sub-heading {
        font-size: 35px;
    }

    .under-sub-heading {
        font-size: 25px;
    }

    .section-margin {
        margin: 0;
    }

    .why-choose-heading {
        font-size: 35px;
    }

    .home-section {
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 122px; */
        text-align: center;
        padding: 20px 25px;
        margin-top: 30px;
        padding-bottom: 200px;
    }

    .title-img {
        width: 53%;
    }

    .home-text {
        margin: 20px;
        position: static;
        left: auto;
    }

    .line-break {
        display: block;
    }

    .title-img {
        left: 50%;
        transform: translateX(-50%);
    }

    .motos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .moto-head {
        height: 50px;
    }

    .curve-1 {
        display: none;
    }

    .curve-2 {
        display: none;
    }

    .why-choose-section {
        margin-top: 30px
    }

    .why-img {
        height: 50vh;
    }

    .why-choose-content {

        flex-direction: column;
    }

    .why-choose-div {
        width: 100%;
    }

    .why-choose-content {
        gap: 0px;
    }

    .card-text {
        font-size: 16px;
    }

    .driver-part .card-text {
        font-size: 16px;
        padding: 0px 10px;
    }

    .driver-part .card-title {
        font-size: 25px;
        line-height: 35px;
    }

    .safety-section {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .footer-heading {
        text-align: center;
        margin-top: 20px;
    }

    /* SAFETY  */
    .safety-page-top {
        padding-bottom: 0;
        padding: 60px 0px;
        justify-content: start;
    }

    .safety-page-top {
        padding-bottom: 0;
        padding: 27px 0px;
        justify-content: start;
        margin-top: 80px;
    }

    .line-1,
    .line-2,
    .line-4,
    .line-3 {
        line-height: 30px;
        padding: 10px 0px;
    }

    .line-1,
    .line-3 {
        font-size: 18px;
    }

    .line-2,
    .line-4 {
        font-size: 25px;
    }

    .saf-1 {
        font-size: 15px !important;
        line-height: 20px !important;
    }

    .saf-2 {
        font-size: 20px !important;
        line-height: 20px !important;
    }

    .saf-3 {
        font-size: 15px !important;
        line-height: 20px !important;
    }

    .saf-4 {
        font-size: 20px !important;
        line-height: 20px !important;
    }

    .safety-text {

        margin: 10px 25px;
    }

    .safety-page-text .side-text {
        padding: 0px !important;
        text-align: start;
    }

    .safety-card-group {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 70%;
        margin-top: 20px;
        gap: 20px;
    }

    .safety-card-title {
        font-size: 20px !important;
    }


    .safety-card-text {
        padding: 0px 22px;
        font-size: 14px;
    }

    .driver-safety-card-group {
        margin-top: 0px;
    }

    .driver-safety-card-group {
        margin: 0px;
        width: 70%;
        display: flex;
        flex-direction: column;
    }

    /* DRIVW WITH US  */

    .with-us-top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 0;
        text-align: center;
        padding: 10px 19px;
        padding-bottom: 0px;
        margin-top: 80px;
    }

    .with-us-text {
        margin: 5px;
        align-items: center;
    }

    .drive-heading {
        font-size: 24px;
        line-height: 40px;
    }

    .adv-part {
        padding: 25px 0px;
    }



    .list-unstyled li {
        text-align: center;
    }

    .adv-sec {
        align-items: center;
    }

    .adv-wid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .adv-card-top {
        gap: 20px;
        flex-wrap: wrap;
        width: 85%;
        justify-content: center;
    }

    .log-input {
        width: 70%;
        font-size: 13px !important;
    }

    .otp-btn {
        font-size: 13px;
        border: 1px solid white;
        padding: 7px 17px;
    }

    .login-banner {
        display: none;
    }

    .login-div {
        background: linear-gradient(180deg, #EE1414 0%, #930000 100%);
        border-radius: 20px;
        margin: 120px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        padding-bottom: 50px;
    }

    .mob {
        font-size: 22px !important;
    }

    .log-input {
        width: 80%;
        font-size: 18px !important;
    }

    .accordion-button {
        font-size: 1.1rem !important;
    }

    .about_dow_app p {
        font-size: 25px;
    }

}


@media (min-width: 431px) and (max-width: 575px) {
    .title-img {
        left: 50%;
        transform: translateX(-50%);
        width: 35%;
    }
}

@media (max-width: 400px) {
    .mob {
        font-size: 18px !important;
    }

    .log-input {
        width: 80%;
        font-size: 15px !important;
        font-weight: 400 !important;
    }
}





























@media (max-width:410px) {

    .line-1 {
        font-size: 23px;
        line-height: 35px;
    }

    .line-2 {
        font-size: 25px;
        line-height: 35px;
    }

    .line-2 {
        font-size: 23px;
        line-height: 35px;
    }

    .line-4 {
        font-size: 25px;
        line-height: 35px;
    }

    .home-points {
        font-size: 16px;
        padding: 20px 0px;
        padding-top: 0px;
    }

    .footer-bottom p {
        font-size: 8px;
    }

    .download-app p {
        font-size: 15px;
    }

    .social-links {
        display: flex;
    }

    .list-unstyled li {
        margin-top: 2px;
    }



    .social-links a {
        margin: 0;
    }

    .social-links img {
        width: 75%;
    }

    .sub-heading {
        font-size: 30px;
    }

    .moto-head {
        margin-top: 0.9rem !important;
        height: 45px;
    }

    .moto-content p {
        text-align: justify;
    }

    .why-choose-heading {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

@media (max-width: 492px) {
    .download-app p {
        font-size: 13px;
    }

    .about_dow_app p {
        font-size: 14px;
    }
}