@media (min-width: 1900px) {

    .classy-navbar {
        width: 100%;
        height: 100px;
    }

    .home-parent li a {
        font-size: 28px !important;
    }



    .log-in {
        font-size: 28px;
        padding: 20px;
    }

    .classy-navbar .nav-brand img {
        width: 200px;
    }


    .sub-heading {
        font-size: 55px;
    }

    .title-img {
        width: 42%;
    }

    .why-choose-heading {
        font-size: 55px;
    }

    .under-sub-heading {
        font-size: 37px;
    }

    .know-more {
        font-size: 25px;

        padding: 20px 40px
    }


    .home-section {
        height: 94vh;
    }

    .line-1 {
        font-size: 35px;
        font-weight: 500;
        text-align: left;
    }

    .line-2 {
        font-size: 60px;
        font-weight: 700;
        line-height: 80px;
        text-align: left;
    }

    .line-3 {
        font-size: 60px;
        font-weight: 400;
        line-height: 80px;
        text-align: left;
    }

    .line-4 {
        font-size: 60px;
        font-weight: 700;
        line-height: 80px;
        text-align: left;
    }

    .home-points {
        font-size: 35px;
        font-weight: 700;
        letter-spacing: -0.02em;
        text-align: left;
        padding: 39px 11px;
    }

    .btn-sec {
        border: none;
        font-size: 30px;
        font-weight: 400;
        cursor: pointer;
    }

    .safety-img img {
        padding-left: 135px;

    }

    .curve {
        width: 100%;
        position: absolute;
        left: 23.5%;

    }

    .curve-2 {
        /* margin-left: 10px; */
        position: absolute;
        /* z-index: -1; */
        left: 53.5%;
    }


    .curve-1 {
        transform: rotate(10deg);
        position: absolute;
        width: 22%;
        left: 24%;
        z-index: 1;
    }

    .curve-2 {
        transform: rotate(10deg);
        position: absolute;
        width: 22%;
        left: 54%;
        z-index: 1;
    }

    .moto-content p,
    .card-text {
        font-size: 21px;
        line-height: 40px;
    }

    .points-desc p {
        font-size: 25px;
    }

    .selection h4 {
        font-size: 40px;
    }

    .card-title {
        font-size: 30px;
    }

    .card-text {
        font-size: 22px;
    }

    .safety-text {
        font-size: 40px;
        font-weight: 400;
        line-height: 60px;
    }





    /* Safety-PAGE  */

    .safety-card-title {
        font-weight: 800 !important;
        font-size: 30px !important;
    }



    .privacy-heading {
        margin-top: 150px;
        margin-bottom: 100px;
    }

    .about_dow_app p {
        font-size: 30px;
    }
}

@media (min-width: 1100px) {
    .privacy-heading {
        margin-top: 65px;
        margin-bottom: 20px;
    }
}